html {
    scroll-behavior: smooth;
}

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

.container {
    background-color: #74C69D;
    color: #fff;
}

.partners {
    background-color: #fff;
}

.link {
    text-decoration: none;
    color: #fff;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 6px;
}

